* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #e84e19;
}

.container {
  position: relative;
  width: 100%;
  display: flex; /* Utiliser flexbox */
  flex-direction: column; /* Alignement vertical */
  /*justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  height: 100vh; /* Prendre toute la hauteur de la fenêtre */
}

p {
  font-size: 1.5em;
  color: black;
}

h1, h2, h3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: white;
  padding: 1em;
}

h1 {
  font-size: 46px; 
}

h2 {
  font-size: 24px; 
}

h3 {font-size: 16px; text-align: center;}

a {
  color: white;
  font-weight: bold;
}

/*** index.html ***/

h1.title {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 5%;
}

.circle {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%); /* Ajuste pour centrer parfaitement */
}

.logo {
	position: absolute;
	width: 120px;
	height: 120px;
	background: url("../assets/img/run.png");
	background-size: cover;
	border-radius: 100vmax;
	background-position: center;
}

.text {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: consolas;
	color: #fff;
	font-size: 17px;
	animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(-360deg);
	}
}

.text span {
	position: absolute;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}

/*** selection.html ***/

.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 10px; /* Espacement entre les boutons */
  max-width: 300px; /* Largeur maximale pour centrer */
  width: 100%; /* S'assurer que ça s'ajuste */
}

button {
  display: flex;
  flex-direction: column; /* Aligner les éléments verticalement */
  align-items: center; /* Centrer horizontalement */
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  border-style: solid;
  border-width: 1px 2px 1px 1px;
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4) rgba(0,0,0,0.7) rgba(0,0,0,0.5);
  border-radius: 5px;
}

.active {
  background-color: #3498DB;
  color: white;
  border-style: solid;
  border-width: 1px 2px 1px 1px;
  border-color: rgba(0,0,0,0.7) rgba(0,0,0,0.5) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4);
}

.validate-button {
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

button.icon {
  width: 50px !important;
  height: 50px !important;
  object-fit: contain;
}

button img {
  max-width: 100%; /* S'assurer que l'image ne dépasse pas le bouton */
  max-height: 100%;
  width: 60px; /* Appliquer la taille souhaitée */
  height: 60px;
  object-fit: contain;
}